{% extends 'shop/layout.html' %}

{% block title %}Магазин{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card text-center shadow-lg h-100">
                        {% if product.image %}
                        <img src="/media/{{product.image}}" class="card-img-top" style="height: 250px;">
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'show' product.id %}" class="link-success"><h5 class="card-title">{{product.name}}</h5></a>
                            <p class="card-text">
                                <a href="{% url 'add_to_cart' product.id %}"><button class="btn btn-outline-success btn-lg" type="button">{{product.price}} <i class="fa-solid fa-ruble-sign"></i></button></a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}