{% extends 'shop/layout.html' %}

{% block title %}Магазин{% endblock %}

{% block content %}
    
    {% for product in products %}
        {% if product.image %}
            <div style="width: 300px; height: 500px; background-color: white; display: inline-block; margin: 10px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);">
                <img src="/media/{{product.image}}" style="max-width: 100%; max-height: 100%;">
            </div>
<!--            <img src="/media/{{product.image}}" class="rounded float-start" width="300">-->
        {% endif %}
    {% endfor %}
{% endblock %}